@{
    ViewData["Title"] = "Home Page";
}
<div class="conteiner weatherwidget">
    <a class="weatherwidget-io" href="https://forecast7.com/he/31d0534d85/israel/" data-label_1="ישראל" data-label_2="מזג אוויר" data-icons="Climacons Animated" data-theme="beige" >ישראל מזג אוויר</a>
</div>

<header class="jumbotron video-container">
  <video  width="100%" height="350" playsinline loop muted autoplay>
    <source src="~/videos/tips_hero_video.mp4" type="video/mp4" />
    Your browser does not support the video tag or the file format of this video.
    </video>
  <div class="text">
    <p>
        <b>Welcome to <span class="logo-text">Tips.</span></b> <br>
        The number one tips sharing platform. <br>
    </p>  
  </div>
</header>

<section>
  <div class="row random tips">
    <blockquote>
      <h3>Latest tips:</h3>
    </blockquote>
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail thumb-width">
        <div class="tip-content-container">
          <div class="tip-title"></div>
          <div class="tip-date text-muted"></div>
          <div class="tip-text"></div>
        </div>
        <canvas id="myCanvas1" width="270" height="400"></canvas>
      </a>
    <input id="tip1-rating" name="input" value="4">
    </div>
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail thumb-width">
        <div class="tip-content-container">
          <div class="tip-title"></div>
          <div class="tip-date text-muted"></div>
          <div class="tip-text"></div>
        </div>
        <canvas id="myCanvas2" width="270" height="400"></canvas>
      </a>
    <input id="tip2-rating" name="input" value="6">
    </div>
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail thumb-width">
        <div class="tip-content-container">
          <div class="tip-title"></div>
          <div class="tip-date text-muted"></div>
          <div class="tip-text"></div>
        </div>
        <canvas id="myCanvas3" width="270" height="400"></canvas>
      </a>
    <input id="tip3-rating" name="input" value="10">
    </div>
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail thumb-width">
        <div class="tip-content-container">
          <div class="tip-title"></div>
          <div class="tip-date text-muted"></div>
          <div class="tip-text"></div>
        </div>
        <canvas id="myCanvas4" width="270" height="400"></canvas>
      </a>
    <input id="tip4-rating" name="input" value="7">
    </div>
  </div>
</section>

<script>
    let tips = [];

    $("#tip1-rating").rating({min: 0, max: 10, step: 1, stars: 8, showClear: false, showCaption: false, size: 'xs'});
    $("#tip2-rating").rating({min: 0, max: 10, step: 1, stars: 8, showClear: false, showCaption: false, size: 'xs'});
    $("#tip3-rating").rating({min: 0, max: 10, step: 1, stars: 8, showClear: false, showCaption: false, size: 'xs'});
    $("#tip4-rating").rating({min: 0, max: 10, step: 1, stars: 8, showClear: false, showCaption: false, size: 'xs'});

    $("#tip1-rating").on('rating:change', function(event, value, caption) {
        console.log(value);
        $.ajax({
          type: "POST",
          url: "api/tips/rate",
          data: JSON.stringify({ TipId: tips[0].id ,RateValue: parseInt(value) }),
          contentType:"application/json",
          xhrFields:{
            withCredentials:true
          }
        });
    });

    $.get("https://localhost:5001/api/tips", function( data ) {
      tips = data
      let tipTextNodes = document.getElementsByClassName('tip-text')
      let tipTitleNodes = document.getElementsByClassName('tip-title')
      let tipDateNodes = document.getElementsByClassName('tip-date')
      for(let i = 0; i < tipTextNodes.length; i++) {
        if (data[i]) {
          let c = document.getElementById("myCanvas" + (i + 1));
          let ctx = c.getContext("2d");
          ctx.fillStyle = "blue";
          ctx.fillRect(0, 0, c.width, c.height);

          tipDateNodes[i].textContent = data[i].createDate
          tipTextNodes[i].textContent = data[i].content
          tipTitleNodes[i].textContent = data[i].title
        }
      }
    });
</script>

<script>
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
</script>