body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* -------------- */
.video-container {
    position: relative;
}

video {
    object-fit: fill;
    position:relative;
    z-index:0;
}

.text {
    position: absolute;
    z-index: 1;
    color: white;
    left: 30%;
    top: 28%;
    font-size: 1.5em;
    font-weight: bolder;
    background-color: rgba(0,0,0,.3);
    padding: 1em;
    border-radius: 30px;
}

.logo-text {
    color: yellow;
    font-size: 1.6em;
}

.hero-link {
    color:yellow;
}
.hero-link:hover {
    color:yellow;
    text-decoration: none;
}
.register-or-login {
    font-size: .7em;
}

.thumb-width {
    width: 280px;
}
.tip-content-container {
    position: absolute;
    overflow: hidden;
    height: 400px;
    padding: 1em;
    color: white;
    text-shadow: 2px 2px black;

}
.tip-text {
    font-size: 1.3em;
}
.tip-date {
    text-shadow: none;
}
.tip-title {
    font-weight: bolder;
}
.weatherwidget {
    width: 100%;
}